.game{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 70vw;
    margin: 10px auto;
}

@media (max-width: 900px){
    .game{
        flex-direction: column;
        margin-top: 80px;
    }
}

.board{
    height: 100px;
    width: 100%;
}

.board i{
    font-size: 30px;
    font-weight: bolder;
    color: #252525;
    display: block;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
}

.player{
    width: 50px;
    height: 30px;
    position: relative;
    top: 70px;
}

.player img{
    height: 200%;
    position: absolute;
    bottom: 0;
    left: -100%;
}

.block{
    width: 30px;
    height: 40px;
    position: relative;
    background: url('./imgs/html.svg');
    left: 80%;
    top: 30px;
}

.block-move{
    animation: block 2s infinite linear;
}

.jump{
    animation: jump 0.6s infinite;
}

@keyframes jump {
    0%{
        top: 70px;
    }
    30%{
        top: 10px;
    }
    70%{
        top: 8px;
    }
    100%{
        top: 70px;
    }
}

@keyframes block {
    0%{
        left: 100%;
    }
    100%{
        left: -10%;
    }
}