.game{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 70vw;
    margin: 10px auto;
}

.board{
    height: 100px;
    width: 100%;
}

.player{
    width: 50px;
    height: 30px;
    position: relative;
    top: 70px;
}

.player img{
    height: 200%;
    position: absolute;
    bottom: 0;
    left: -50%;
}

.block{
    width: 30px;
    height: 30px;
    position: relative;
    left: 80%;
    top: 30px;
}

#skills{
    height: 100%;
    object-position: bottom;
}

.block-move{
    animation: block 2s infinite linear;
}

.jump{
    animation: jump 0.6s infinite;
}

@keyframes jump {
    0%{
        top: 70px;
    }
    30%{
        top: 10px;
    }
    70%{
        top: 8px;
    }
    100%{
        top: 70px;
    }
}

@keyframes block {
    0%{
        left: 100%;
    }
    100%{
        left: -10%;
    }
}